# How to contribute

Please make sure you've read our [Code of Conduct](CODE_OF_CONDUCT.md) before
you continue. The below procedure's the same for bugs and features, just use the
appropriate issue template.

First, check if your [issue is already submitted][issue-url] by someone else, if
it isn't, then

- Create an [issue][new-issue-url] using the appropriate template

If you have a solution to the issue, follow these steps

1. [Fork][fork-url] this project
2. Create a branch `git checkout -b bugfix-or-feature/fooBar`
3. Commit your changes `git commit -am 'Added fooBar'` referring to the issue
4. Push to the branch `git push origin bugfix-or-feature/fooBar`
5. Submit a [merge request][merges-url]

*Thanks for contributing!*

[fork-url]: https://gitlab.com/{{user}}/{{slug}}/-/forks/new
[issue-url]: https://gitlab.com/{{user}}/{{slug}}/-/issues
[merges-url]: https://gitlab.com/{{user}}/{{slug}}/-/merge_requests
[new-issue-url]: https://gitlab.com/{{user}}/{{slug}}/-/issues/new
