#                     ___           __  ___
#  _______ ________  / (_)__  ___ _(())/ (_)__  ___ _
# / __/ _ `/ __/ _ \/ / / _ \/ -_) _ `/ / / _ \/ _ `/
# \__/\_,_/_/  \___/_/_/_//_/\__/\_,_/_/_/_//_/\_, /
#         https://gitlab.com/carolinealing    /___/
#
# .editorconfig
#

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

{% if language in ('JavaScript', 'PHP') -%}
[*.{css,json,sass}]
indent_size = 2
indent_style = space

[*.html]
indent_size = 2

{% endif -%}
{% if language == 'Python' -%}
[*.{json,yaml}]
indent_size = 2
indent_style = space

{% endif -%}
[*.md]
trim_trailing_whitespace = false
