#                     ___           __  ___
#  _______ ________  / (_)__  ___ _(())/ (_)__  ___ _
# / __/ _ `/ __/ _ \/ / / _ \/ -_) _ `/ / / _ \/ _ `/
# \__/\_,_/_/  \___/_/_/_//_/\__/\_,_/_/_/_//_/\_, /
#         https://gitlab.com/carolinealing    /___/
#
# .gitignore
#

{% if language in ('C', 'C++') -%}
*.d
*.o
{% elif language == 'Java' -%}
*.class
{% elif language in ('JavaScript', 'PHP') -%}
node_modules
{% elif language == 'Pascal' -%}
*.o
*.ppu
{% elif language == 'Python' -%}
.env
.mypy_cache
__pycache__
{% elif language == 'Sass' -%}
.sass-cache
*.css.map
*.sass.map
*.scss.map
{% elif language == 'TeX' -%}
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.toc
{% endif -%}
