#                     ___           __  ___
#  _______ ________  / (_)__  ___ _(())/ (_)__  ___ _
# / __/ _ `/ __/ _ \/ / / _ \/ -_) _ `/ / / _ \/ _ `/
# \__/\_,_/_/  \___/_/_/_//_/\__/\_,_/_/_/_//_/\_, /
#         https://gitlab.com/carolinealing    /___/
#
# Makefile
#

# Compiler & compiler flags
JC := javac
JFLAGS := -Wall

# Directories
build := ./build
release := ./release
resources := ./resources
source := ./source

# Include source code
INCLUDE := -cp $(source)

# Find all objects & dependencies
sources := $(shell find $(source) -name '*.java')
classes := $(sources:$(source)/%.java=$(build)/%.class)

# Name of target
target := $(build)/{{ name | default('Main') }}

# Declare non-file targets
.PHONY: all build class clean debug release run tags

# Run all tasks
all: build $(classes)

# Compile source code
$(build)/%.class: $(source)/%.java
	$(JC) $(INCLUDE) $(JFLAGS) $^

# Create build directory
build:
	@mkdir -p $(build)

# Create class
class:
	create-class {% if licence %}-L {{ licence }}{% endif %} -i -l Java -r $(source)

# Remove dependencies, objects & target
clean:
	-@rm -frv $(build)

# Compile debuggable code & run debugger
debug: JFLAGS += -g
debug: clean all
	gdb $(target)

# Compile target optimised for release
release: JFLAGS += -O3
release: clean all
	@mkdir -p $(release)
	@cp $(resources)/* $(release)
	@cp $(target) $(release)

# Run target
run: $(target).class
	@java $(target)

# Create tags
tags:
	ctags -R  $(source)
