#                     ___           __  ___
#  _______ ________  / (_)__  ___ _(())/ (_)__  ___ _
# / __/ _ `/ __/ _ \/ / / _ \/ -_) _ `/ / / _ \/ _ `/
# \__/\_,_/_/  \___/_/_/_//_/\__/\_,_/_/_/_//_/\_, /
#         https://gitlab.com/carolinealing    /___/
#
# Makefile
#

# Compiler & compiler flags
PC := fpc
PFLAGS := -Mobjfpc -va

# Directories
build := ./build
release := ./release
resources := ./resources
source := ./source

# Include source code
INCLUDE := -I$(source)

# Find all objects & dependencies
sources := $(shell find $(source) -name '*.pas')
objects := $(sources:$(source)/%.pas=$(build)/%.o)

# Name of target
target := $(build)/{{ name | default('Main') }}

# Declare non-file targets
.PHONY: all build class clean debug release run tags

# Run all tasks
all: build $(objects)

# Compile source code
$(build)/%.o: $(source)/%.pas
	$(PC) $(INCLUDE) $(PFLAGS) -o$@ $<

# Create build directory
build:
	@mkdir -p $(build)

# Create class
class:
	create-class {% if licence %}-L {{ licence }}{% endif %} -i -l Pascal -r $(source)

# Remove dependencies, objects & target
clean:
	-@rm -frv $(build)

# Compile debuggable code & run debugger
debug: PFLAGS += -dDEBUG -g
debug: clean all
	gdb $(target)

# Compile target optimised for release
release: PFLAGS += -O3
release: clean all
	@mkdir -p $(release)
	@cp $(resources)/* $(release)
	@cp $(target) $(release)

# Run target
run: all
	@./$(target)

# Create tags
tags:
	ctags -R  $(source)
