{
  "author": {
    "email": "{{email}}",
    "name": "{{author}}",
    "url": "https://{{website}}"
  }
  "bugs": {
    "url": "https://gitlab.com/{{user}}/{{slug}}/-/issues"
  },
  "dependencies": {
  }
  "description": "{{description}}",
  "devDependencies": {
  },
  "homepage": "https://gitlab.com/{{user}}/{{slug}}",
  "keywords": [
    ""
  ],
  "license": "{{licence}}",
  "main": "",
  "name": "{{name}}",
  "repository": {
    "type": "git",
    "url": "git@gitlab:{{user}}/{{slug}}.git"
  },
  "scripts": {
    "build": "",
    "clean": "",
    "deploy": "",
    "minify": "",
    "start": "",
    "test": ""
  },
  "version": "0.0.1"
}
