# {{name}}

> {{description}}

{% if contribute -%}
[![Contributor Covenant][code-of-conduct-badge]][code-of-conduct-url]
{% endif -%}
[![Licence][licence-badge]][licence-url]
[![Release][release-badge]][release-url]

[Project home][website] &bullet; [Documentation][documents]

{{introduction}}.

![{{name}}](screenshot.png)

## Installation

:bulb: {{requirement_message}}.

:warning: {{warning_message}}!

{{installation_instructions}}:

```sh
git clone --recursive git@gitlab.com:{{user}}/{{slug}}.git
```

### Source folder

{{source_folder_description}}

```
source/
├─
└─
```

## Usage

{{usage_instructions}}:

```sh

```

### Build folder

{{build_folder_description}}

```
build/
├─
└─
```

{% if contribute -%}
## Code of Conduct

Please read [CODE_OF_CONDUCT.md][code-of-conduct-url] for community guidelines.

## Contributing

Please read [CONTRIBUTING.md](CONTRIBUTING.md) for details on how to contribute.
{% endif -%}

## Versioning

Uses [Semantic Versioning](https://semver.org/). See [releases][release-url] and
[tags][tags-url] for versions of this project.

## Change-log

See [CHANGELOG.md](CHANGELOG.md) for a detailed list of changes.

## Licence

Released under {{licence}}. See [LICENSE.md][licence-url] for more.

Coded with :heart: by [{{author}}][user-url]{% if contribute -%} and [contributors][contributors-url]{% endif %}.

{% if contribute -%}
[code-of-conduct-badge]: https://img.shields.io/badge/Contributor%20Covenant-2.1-4baaaa.svg
[code-of-conduct-url]: CODE_OF_CONDUCT.md
[contributors-url]: https://gitlab.com/{{user}}/{{slug}}/-/graphs/master
{% endif -%}
[documents]: {{documents}}
[licence-badge]: https://img.shields.io/gitlab/license/{{user}}%2F{{slug}}
[licence-url]: LICENSE.md
[release-badge]: https://img.shields.io/gitlab/v/release/{{user}}%2F{{slug}}
[release-url]: https://gitlab.com/{{user}}/{{slug}}/-/releases
[tags-url]: https://gitlab.com/{{user}}/{{slug}}/-/tags
[user-url]: https://gitlab.com/{{user}}
[website]: {{website}}
